
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: 
  url('../fonts/roboto-v29-latin-regular.woff2') format('woff2'), 
  url('../fonts/roboto-v29-latin-regular.woff') format('woff'); 
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
img {
  vertical-align: middle;
}
.container {
  width: 1380px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/* header */

.header{
  background-color: #F1D1AD;
  background-image: url('../images/qum.svg');
}
.under-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-link {
  text-decoration: none;
}
.header-nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.header-list-item {
  padding: 40px;
}
.header-list-item-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #333333;
}
.box {
  height: 697px;
  display: flex;
  justify-content: space-between;
  background-color: #F1D1AD;
  background-image: url('../images/qum.svg');
}
.box-item {
  margin-left: 70px;
  width: 464px;
  padding: 150px 0px;
}
.box-title {
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  color: #000000;
}
.box-title-in {
  margin-top: 0;
  margin-bottom: 34px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.box-in {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 1px;
  font-variant: small-caps;
  color: #FFFFFF;
  background: #0A775F;
  border-radius: 100px;
  padding: 16px 24px;
}
.box-img {
  width: 710px;
  height: 696px;
  background-image: url('../images/stakan.png');
  background-repeat: no-repeat;
}
.box-pic{
  position: absolute;
  top: 30px;
  right: 900px;
}